.mt-2 {
  margin-top: 2rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.whitesmoke {
  background-color: #ddd;
}

hr {
  width: 50%;
  border: 2px solid black;
}
